.individual-card {
  margin-bottom: 16px;
  padding: 32px;
  background: $beige;
  border: none !important;
  border-radius: 4px;
  span {
    font-size: 12px;
  }
  .right {
    display: flex;
    align-items: center;
  }
}
.cards {
  padding: 0 32px;
}
.page-top {
  padding: 32px;
}
.side-bar {
  width: 30%;
  background: $beige;
}
.individual {
  width: 70%;
  padding: 80px;
}

.individual-container {
  background: white;
  min-height: 100vh;
}
.side-bar-card {
  margin: 16px;
}
