.individual-card {
  margin-bottom: 16px;
  padding: 32px;
  background: $beige;
  border: none !important;
  border-radius: 4px;
  span {
    font-size: 12px;
  }
  .right {
    display: flex;
    align-items: center;
  }
}
.cards {
  padding: 0 32px;
}
.page-top {
  padding: 32px;
}
.side-bar {
  width: 34%;
  margin-right: 1%;
  background: $beige;
}
.individual {
  width: 66%;
  margin-left: 1%;
}

.individual-container {
  background: white;
  min-height: 100vh;
}
.side-bar-card {
  margin: 16px;
  padding-left: 50px;
  padding-top: 50px;

  .individual-photo{
    max-height: 275px;
  }

  .individual-bio{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .individual-location{
    border-top: 1px solid #E3DDD4;
    border-bottom: 1px solid #E3DDD4;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

