<img src='https://cdn.shopify.com/s/files/1/2283/2295/products/SICAT090_CARSTICKER_1024x1024.jpg?v=1630577926' class='individual-photo'>
<br>
<div class='individual-bio'>
  <h4><%= individual.name %></h4>
  <span><%= individual.title %></span>
</div>
<div class='individual-location'>
  <i class="fa-solid fa-location-dot"></i>
  <span><%= individual.location%></span>
</div>
<div class='individual-capacity'>
</div>
