<div class="individual-container d-flex">
  <div class="side-bar">
    <div class="side-bar-card">
      <%= render 'personal_details', individual: @individual %>
    </div>
  </div>
  <div class="individual">

    <div class="greatest-achievements">
      <%= render 'greatest_achievements', achievements: @achievements, achievement: @achievement %>
    </div>

    <h2><%= @individual.name %>'s experience</h2>
    <% @individual.role_helds.each do |role_held| %>
      <%= render 'organisation_card', role_held: role_held %>
    <% end %>
  </div>
</div>
