<div class="individual-container d-flex">
  <div class="side-bar">
    <div class="side-bar-card">
      <%= render 'personal_details', individual: @individual %>
    </div>
  </div>
  <div class="individual">

    <%= render 'greatest_achievements', achievements: @achievements, achievement: @achievement %>

    <div class="roles-held">
      <h2><%= @individual.name %>'s experience</h2>
      <% @individual.role_helds.each do |role_held| %>
        <div class="role-held">
          <%= render 'organisation_card', role_held: role_held %>
        </div>
        <hr class="divider">
      <% end %>
    </div>
  </div>
</div>
