
<div class="page-top">
  <h2>Profiles we have selected for you</h2>
  <span>Select the profiles that you’d like to see in your shortlist</span>
</div>

<div class="cards">
  <% @individuals.each do |individual| %>
    <%= link_to individual_path(individual) do %>
      <div class="card">
        <div class="d-flex justify-content-between">
          <div class="left">
            <%= individual.name %>
            <br>
            <span><%= individual.title %></span>
          </div>
          <div class="right">
            <i class="fa-solid fa-thumbs-up"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
