
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="v2_4229">
      <div class="v2_4230">
        <div class="v2_4235">
          <span class="v2_4236">Your profile is now open</span>
          <span class="v2_4237">The Nurole team can now share your information with clients who may be interested in you for their non-executive board. We will contact you if you get a match. </span>
          <button class="button-to-form">
            <%= link_to "Return to Nurole", "https://app.nurole.com/roles", class="button-to-form")%>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
<br/><br/> 

<style>* {
  box-sizing: border-box;
}
.v2_4229 {
  width: 100%;
  height: 100vh;
  background: rgba(30,75,55,0.8);
  border: 24px;
  opacity: 1;
  position: flex;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4230 {
  width: 600px;
  height: 422px;
  background: rgba(255,250,240,1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2_4235 {
  width: 504px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px 48px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
}
.v2_4236 {
  width: 504px;
  color: rgba(36,39,38,1);
  position: absolute;
  font-family: Playfair Display;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2_4237 {
  width: 504px;
  color: rgba(36,39,38,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.button-to-form{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  text-align: center;
  letter-spacing: 0.03em;
  
  border: 1px solid #1E4B37;
  color: #1E4B37
  box-sizing: border-box;
  border-radius: 32px;

  position: absolute;
  top: 180px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
</style>