.btn-nurole-primary {
  background: $red;
  color: white;
  &:hover,
  &:visited {
    color: white;
  }
}

.btn-nurole-edit {
  background: $green;
  color: white;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  font-weight: bold;
  padding: 8px 20px;
  border-color: rgba(60, 105, 85, var(--tw-border-opacity));
  &:hover,
  &:visited {
    color: white;
  }

  i{
    margin-left: 5px;
    font-size: 14px;
  }
}

.btn-nurole-delete {
  background: $beige;
  border: 1px $green solid;
  color: $green;
  &:hover,
  &:visited {
    color: $green;
  }
}
.nurole-link {
  padding: 3px 12px;
  border-radius: 32px;
  width: 100px;
  height: 32px;
  text-align: center;
  align-items: center;
  // display: flex;
}
